[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask-cors = "*"
marshmallow-sqlalchemy = "*"
flask-marshmallow = "*"
flask = "*"
flask-bcrypt = "*"
gunicorn = "*"
psycopg2 = "*"
python-dotenv = "*"

[dev-packages]

[requires]
python_version = "3.10"
